.field
  - if question.heading?
    %h3= question.prompt
  -else
    = question.prompt
    - case question.data_type
    - when 'text', 'date'
      = text_field_tag question.name, nil, required: question.required?,
        class: ('datepicker' if question.date?)
    - when 'number'
      = number_field_tag question.name, nil, required: question.required?
    - when 'yes/no'
      Yes
      = radio_button_tag question.name, 'yes', false, required: question.required?
      No
      = radio_button_tag question.name, 'no', false, required: question.required?
