%ul
  - @departments.each do |department|
    %li
      %h3= department.name
    %ul
      - department.positions.each do |position|
        %li
          = position.name
          %ul
            - if position.application_template.present?
              %li= link_to 'View application', position.application_template
              %li= link_to 'Edit application', edit_application_template_path(position.application_template)
            - else
              %li= link_to 'Create application', new_application_template_path(position_id: position.id)
