%ul
  - @departments.each do |department|
    %li
      %h3= department.name
    %ul
      - department.positions.each do |position|
        %li
          = position.name
          %ul
            %li= link_to "View application for #{position.name}", position.application_template
            %li= link_to "Edit application for #{position.name}", edit_application_template_path(position.application_template)
