.dashboard_partial
  - @departments.each do |department|
    .title_header.fs-26= department.name
    .partial_block
      - department.positions.each do |position|
        .position_label= position.name
        %ul
          - if @pending_records.key? position
            - @pending_records[position].each do |record|
              %li= link_to record.user.proper_name, record
          - else
            No pending applications
        - if @saved_records[position].present?
          - count = @saved_records[position].count
          %ul= link_to "View saved applications for #{position.name} (#{count})",
            saved_applications_position_path(position)
        -else
          %ul No saved applications
