= form_tag csv_export_application_submissions_path,
  method: :get, class: 'form-inline' do
  %h5 Export records for
  .form-group
    = select_tag :department_ids,
    options_from_collection_for_select(@departments, :id, :name),
    class: 'dept_select m-2',
    id: 'reports-dept-select',
    multiple: true
    = label_tag :start_date, 'between'
    = text_field_tag :start_date, '',
      class: 'form-control datepicker m-2', required: true
    = label_tag :end_date, 'and'
    = text_field_tag :end_date, '',
      class: 'form-control datepicker m-2', required: true
    = submit_tag 'Generate CSV', class: 'btn btn-primary'
