%h1.mb-4 Staff Dashboard
.dashboard_heading Pending Applications
= render partial: 'pending_applications'
.dashboard_heading Pending interviews
= render partial: 'pending_interviews'
.dashboard_heading Application forms
= render partial: 'application_templates'
- if Current.user&.admin?
  .dashboard_heading Staff members
  = render partial: 'users'
.dashboard_heading Past applications / interviews
= render partial: 'past_applications'
.dashboard_heading Reports
.dashboard_partial
  = render partial: 'reports'
  = render partial: 'eeo_data'
.dashboard_heading Departments / positions
= render partial: 'departments'
