%h1 UMass Transit Job Applications
= text 'welcome'

- if @interviews.present?
  - @interviews.each do |interview|
    .interview_explain_text
      Your #{interview.application_record.department.name} interview
      has been scheduled for #{format_date_time interview.scheduled}
      at #{interview.location}.
    .interview_review_link
      = link_to 'Review your application', interview.application_record
- else
  Please select the application which you would like to submit.
  - @positions.each do |department, positions|
    %h3= department.name
    - positions.each do |position|
      - if @application_records.present? && @application_records.keys.include?(position) && (@application_records[position].last.pending? || (configured_value [:on_application_denial, :notify_applicant], default: true))
        %li= link_to "Review your application for #{position.name}", @application_records[position].last
      - else
        %li= link_to "Submit application for #{position.name}", position.application_template

