- @records[:combined_data].each do |key, value|
  %table#eeo_table
    %thead
      %tr
        %th= "#{key}s by ethnicity"
        %th Total applicants
        %th Total interviews
    - value.each do |ethnicity, count, interview_count|
      %tr
        %td= ethnicity
        %td= count
        %td= interview_count


