%table.data_table.display#main_data_table
  %thead
    %tr
      %th Date Submitted
      %th Ethnicity
      %th Gender
      %th Hired?
  %tbody
    - @records[:all].each do |record|
      %tr
        %td{ data: { order: record.created_at.to_i } }
          = format_date_time record.created_at
        %td= record.ethnicity
        %td= record.gender
        %td
          - if record.interview.present?
            - if record.interview.hired?
              Yes
            - else
              No -
              = record.interview.interview_note

%h3 Totals:
= render partial: 'ethnicity_totals'
= render partial: 'gender_totals'
= render partial: 'combined_totals'
