%h1 Application Record

submitted by
= @record.user.full_name
= format_date_time @record.created_at

%table
  %thead
    %tr
      %th Question
      %th Response
  - @record.responses.each do |prompt, response|
    %tr
      %td= prompt
      %td= response
      
- if @current_user.staff?
  - if @record.pending?
    %h3 Review application
    = form_tag controller: :application_records, action: :review, id: @record.id, accepted: false do
      .field
        Reason for rejection:
        = text_area_tag :staff_note, '', required: true
      .text
        - if configured_value [:on_application_denial, :provide_reason],
                              default: true
          These notes will be provided to the applicant.
        - else
          These notes will not be provided to the applicant.
      .action= submit_tag 'Review application without scheduling interview'
    = form_tag controller: :application_records, action: :review, id: @record.id, accepted: true do
      = fields_for :interview do |f|
        .field
          = f.label :scheduled, 'Date and time of interview'
          = f.text_field :scheduled, class: 'datetimepicker', placeholder: 'Click here to select date/time...', size: 40
        .field
          = f.label :location
          = f.text_field :location
      .action= submit_tag 'Review application and schedule interview'
  - else
    Application reviewed on
    = format_date_time @record.updated_at
    - if @record.staff_note.present?
      .notes
        Reason for denial:
        = @record.staff_note
  - if @interview.present?
    - if @interview.pending?
      Interview is scheduled for: 
      = @interview.information
      .export_link= link_to 'Click here for a calendar export file', interview_path(@interview, format: :ics)
      %h3 Reschedule interview
      = form_tag controller: :interviews, action: :reschedule, id: @interview.id do
        New interview date/time:
        = text_field_tag :scheduled, '', required: true, class: 'datetimepicker', placeholder: 'Click here to select date/time...', size: 30
        New location:
        = text_field_tag :location, @interview.location, required: true, size: 30
        = submit_tag 'Reschedule interview'
      = form_tag controller: :interviews, action: :complete, id: @interview.id do |f|
        = submit_tag 'Mark interview as completed'
    - else #application is being reviewed for whatever reason
      Interview occurred on
      = @interview.information
- else # student
  - if @record.pending?
    Your application is pending and has not yet been reviewed.
    - if configured_value [:on_application_denial, :notify_applicant], default: true
      You will be notified when your application has been reviewed.
    - else
      You will be contacted if an interview is requested.
  - else
    - if @interview.present?
      - if @interview.pending?
        Your interview is scheduled for
      - else
        Your interview occurred on
      = @interview.information
    - else
      Your application has been denied.
      - if configured_value([:on_application_denial, :provide_reason], default: true)
        Reason:
        = @record.staff_note
