%h1 Application Record

submitted
= format_date_time @record.created_at
by:
= @record.user.name_and_email

.questions_responses_container
  .questions_column
    %h3 Question
    - @record.responses.keys.each do |prompt|
      .question_item= prompt
  .responses_column
    %h3 Response
    - @record.responses.values.each do |response|
      .response_item= response

- if @current_user.staff?
  - if @record.pending?
    %h3 Review application
    = form_tag controller: :application_records,
      action: :review,
      id: @record.id,
      accepted: false do
      .field.note_item
        Reason for rejection:
        = text_area_tag :staff_note, '', required: true
      .text.note_item
        - if configured_value [:on_application_denial, :provide_reason],
                              default: true
          These notes will be provided to the applicant.
        - else
          These notes will not be provided to the applicant.
      .action.note_item= submit_tag 'Review application without scheduling interview'
    = form_tag controller: :application_records,
      action: :review,
      id: @record.id,
      accepted: true do
      = fields_for :interview do |f|
        .field.note_item
          = f.label :scheduled, 'Date and time of interview'
          = f.text_field :scheduled,
            class: 'datetimepicker',
            placeholder: 'Click here to select date/time...',
            size: 40, required: true
        .field.note_item
          = f.label :location
          = f.text_field :location, required: true
      .action.note_item= submit_tag 'Review application and schedule interview'
  - else
    Application reviewed on
    = format_date_time @record.updated_at
    - if @record.staff_note.present?
      .notes.note_item
        Reason for denial:
        = @record.staff_note
  - if @interview.present?
    - if @interview.pending?
      .note_item
        Interview is scheduled for:
        = @interview.information
      .export_link.note_item= link_to 'Click here for a calendar export file',
        interview_path(@interview, format: :ics)
      %h3 Reschedule interview
      = form_tag controller: :interviews,
        action: :reschedule,
        id: @interview.id do
        New interview date/time:
