%h1 Development login

= form_tag '/sessions/dev_login' do
  = hidden_field_tag :spire, @new_spire
  = submit_tag 'Log in with SPIRE, not user record'
= form_tag '/sessions/dev_login' do
  = submit_tag 'Log in with no SPIRE or user record (should fail)'
- @users.each_pair do |group, users|
  %h2 Login as #{group}:
  %ul
    - users.each do |user|
      = form_tag '/sessions/dev_login' do
        = hidden_field_tag :user_id, user.id
        = submit_tag user.full_name
