%h1 Edit #{@position.name_and_department}

= render 'form', position: @position, action: :update

= button_to "Remove #{@position.name_and_department}",
  @position, method: :delete
%h2 Subscribe to email notifications
%p You will be notified when someone fills out an application.
= form_for :subscription,
  url: {controller: :subscriptions, action: :create} do |f|
  = f.label :email
  = f.text_field :email
  = f.hidden_field :position_id, value: @position.id
  = f.hidden_field :user_id, value: @current_user.id
  = f.submit 'Subscribe'
- if @subscriptions
  %ul.subscriptions
    Your currently subscribed emails:
    - @subscriptions.each do |subscription|
      .subscription_email
        %li=subscription.email
        = button_to 'Remove', subscription, method: :delete
