%h1 Edit #{@position.name_and_department}

= render 'form', position: @position, action: :update

.centered= button_to "Remove #{@position.name_and_department}",
  @position, method: :delete, class: 'btn btn-danger'
%h2 Subscribe to email notifications
%p You will be notified when someone fills out an application.
= form_for :subscription,
  url: {controller: :subscriptions, action: :create} do |f|
  = f.label :email
  = f.text_field :email
  = f.hidden_field :position_id, value: @position.id
  = f.hidden_field :user_id, value: @current_user.id
  = f.submit 'Subscribe'
- if @subscriptions.present?
  %p Your currently subscribed emails:
  .subscriptions
    %ul.list-group
      - @subscriptions.each do |subscription|
        %li.list-group-item
          =subscription.email
          =button_to subscription_path(subscription), {method: :delete, class: 'btn btn-default'} do
            %i.glyphicon.glyphicon-remove-circle
- else
  %p You are not currently subscribed.
