%table
  %thead
    %tr
      %th Prompt
      %th Response type
      %th Required?
      %th= # submit
      %th= # move up
      %th= # move down
      %th= # remove question
  - @template.questions.each do |question|
    %tr
      = form_for question do |f|
        %td= f.text_area :prompt, required: true, size: '50x4'
        %td= f.select :data_type,
          options_for_select(Question::DATA_TYPES, question.data_type)
        %td= f.check_box :required
        %td
          = f.submit 'Save question'
      %td
        - unless question == @template.questions.first
          = button_to 'Move up', move_question_path(question, direction: :up)
      %td
        - unless question == @template.questions.last
          = button_to 'Move down',
            move_question_path(question, direction: :down)
      %td= button_to 'Remove question', question, method: :delete
  %tr
    %td#new_question_header{ colspan: 8 } Add new question:
  = form_for Question.new do |f|
    %tr
      %td= f.text_area :prompt, required: true, size: '50x4'
      %td= f.select :data_type,
        options_for_select(Question::DATA_TYPES)
      %td= f.check_box :required
      %td
        = f.hidden_field :application_template_id, value: @template.id
        = f.hidden_field :number, value: @template.questions.count + 1
        = f.submit 'Save question'
      %td= # move up, not used for new
      %td= # move down, not used for new
      %td= # remove question, not used for new
