- if @current_user.try :staff?
  - if @template.active?
    .row
      .col-6
        This application is available to applicants. Not hiring currently?
        Click here to deactivate the application:
      .cold-6
        = button_to 'Deactivate application',
            toggle_active_application_url(@template), class: 'btn btn-secondary'
  - else
    .row
      This application is currently not available to applicants. Hiring
      again? Click here to reactivate the application:
      .cold-6
        = button_to 'Activate application',
            toggle_active_application_url(@template), class: 'btn btn-secondary'

- if @current_user.try(:staff?) || @template.active?
  %h1 Application for #{@template.position.name_and_department}
  -if @template.email.present? && @current_user.try(:staff?)
    .row Reply-to email: #{@template.email}
  %ul
    %li
      Fields marked with an asterisk (
      %span.ast *
      ) are required.
    %li You will be able to log in and review your application.
  - if should_allow_form_refilling? && @old_applications.present?
    .row#old_application_block
      .col-md-8.col-md-offset-2#subtitle
        You have some old applications you can take responses from!
      %table.col-md-8.col-md-offset-2
        %tr
          %th
            Submitted
        - @old_applications.each do |app|
          %tr
            %td
              = app.created_at.to_formatted_s :long_with_time
            %td.load_column
              = link_to 'Load reponses', application_path(@template, load_id: app.id)
  = form_tag application_submissions_path, multipart: true do
    = fields_for :user do |u|
      .form-group
        = u.label :first_name
        = u.text_field :first_name, required: true,
          value: @current_user.try(:first_name), class: 'form-control'
      .form-group
        = u.label :last_name
        = u.text_field :last_name, required: true,
          value: @current_user.try(:last_name), class: 'form-control'
      .form-group
        = u.label :email
        = u.email_field :email, required: true,
          value: @current_user.try(:email), class: 'form-control'
    = fields_for :data do |r|
      - @template.questions.each_with_index do |question, index|
        .form-group
          - if question.explanation?
            .explanation= render_markdown question.prompt
          - elsif question.heading?
            %h2.heading
              = question.prompt
          - else
            = label_tag index, question.prompt
            - case question.data_type
            - when 'phone-number'
              = r.text_field question.unique_name, required: question.required?,
                class: 'form-control phone', placeholder: '(XXX) XXX-XXXX',
                id: index,
                value: @old_data[question.id] || ""
            - when 'long-text'
              = r.text_area question.unique_name,
                required: question.required?,
                class: 'form-control',
                id: index,
                value: @old_data[question.id] || ""
            - when 'text'
              = r.text_field question.unique_name,
                required: question.required?,
                class: 'form-control',
                id: index,
                value: @old_data[question.id] || ""
            - when 'date'
              = r.date_field question.unique_name,
                required: question.required?,
                class: 'form-control',
                id: index,
                value: @old_data[question.id] || ""
            - when 'number'
              = r.number_field question.unique_name,
                required: question.required?,
                class: 'form-control',
                id: index,
                value: (@old_data[question.id] || "").to_i
            - when 'yes/no'
              = label_tag "#{index}_yes", 'Yes'
              = r.radio_button question.unique_name, 'Yes',
                required: question.required?,
                id: "#{index}_yes",
                checked: @old_data[question.id] == 'Yes'
              = label_tag "#{index}_no", 'No'
              = r.radio_button question.unique_name, 'No',
                required: question.required?,
                id: "#{index}_no",
                checked: @old_data[question.id] == 'No'
          = r.hidden_field question.unique_prompt_name,
            value: question.prompt
          = r.hidden_field question.unique_data_type_name,
            value: question.data_type
          = r.hidden_field question.id,
            value: "#{question.id}-#{question.number}"
    = hidden_field_tag :position_id, @template.position_id

    - if @template.unavailability_enabled?
      %h2.heading Unavailability
      .explanation
        Please fill out your weekly unavailability for this semester via this calendar. This is
        used to determine if you have enough available time to commit to this position.
        Check off times when you are
        %strong not
        available to work.
        Note that you can click and drag to check or uncheck a range of boxes.
      .form-group
        = fields_for :unavailability do |u|
          =render partial: "application_drafts/unavailabilities_calendar",
                locals: { form: u }
    - if @template.eeo_enabled?
      %h2.heading Voluntary Equal Employment Opportunity Information
      .explanation
        The University of Massachusetts and the Pioneer Valley
        Transit Authority are equal opportunity employers. To help
        us ensure that we are complying with EEO policies, please supply
        the information requested below.
      .form-group
        = label_tag :ethnicity,
          'Please select the ethnic group with which you most closely identify:'
        = select_tag :ethnicity,
          options_for_select(ApplicationSubmission::ETHNICITY_OPTIONS),
          include_blank: 'Prefer not to answer', class: 'custom-select'
      .form-group
        = label_tag :gender,
          'Please select the gender with which you most closely identify:'
        = select_tag :gender,
          options_for_select(ApplicationSubmission::GENDER_OPTIONS),
          include_blank: 'Prefer not to answer', class: 'custom-select'
    - if @template.resume_upload_enabled?
      %h2.heading Resume
      .explanation
        = label_tag :resume, 'Please upload a copy of your resume.'
      .form-group
        = file_field_tag :resume, required: true
    - unless @current_user.try(:staff?)
      .form-group
        = submit_tag 'Submit application', class: 'btn btn-primary'
- else
  %p= @template.position.not_hiring_text
