%h1 Promote User to Staff
= form_tag promote_save_users_path, method: :post do |form|
  %table.promote-table
    %thead
      %tr
        %th= check_box_tag 'Select All', false, false, id: 'select-all', title: 'Select All'
        %th Proper Name
        %th Spire ID
        %th Email
    %tbody
      - @users.each do |user|
        %tr
          %td= check_box_tag 'users[]', user.id, false, class: 'promote-select'
          %td= user.proper_name
          %td= user.spire
          %td= user.email
  = submit_tag 'Promote'