%h1 Promote User to Staff
= form_tag promote_save_users_path, method: :put do |_form|
  .form-group
    = label_tag 'promote-search', 'Name:'
    = text_field @user, :user, data: { users: @users }, id: 'promote-search', class: 'form-control', placeholder: 'e.g. Jane Doe'
  = submit_tag 'Promote', id: 'promote', class: 'btn btn-primary'

If the staff member is not on the list, add them 
= link_to 'here', new_user_path
