%table.table.data_table.display
  %thead
    %tr
      %th.dt-left Date Submitted
      %th Ethnicity
      %th Gender
      %th Hired?
  %tbody
    - @records[:all].each do |record|
      %tr
        %td.dt-left{ data: { order: record.created_at.to_i } }
          = record.created_at.to_fs :long_with_time
        %td= record.ethnicity
        %td= record.gender
        %td
          - if record.interview.present?
            - if record.interview.hired?
              Yes
            - else
              No:
              = record.interview.interview_note

%h3 Totals:
= render partial: 'ethnicity_totals', locals: { records: @records }
= render partial: 'gender_totals', locals: { records: @records }
= render partial: 'combined_totals', locals: { records: @records }
