%table.table.data_table.display
  %thead
    %tr
      %th Date Submitted
      %th Name
      %th Interview
      %th Staff Note
      %th Rejection Message
      %th Hired?
  %tbody
    - @records.each do |record|
      %tr
        %td{ data: { order: record.created_at.to_i } }
          = record.created_at.to_fs :long_with_time
        %td
          = link_to(record.user.proper_name, application_submission_path(record.id))
        %td
          - if record.interview.nil?
            not scheduled
          - elsif record.interview.completed
            Completed
            = record.interview.scheduled.to_fs :long_with_time
          - else
            = record.interview.scheduled.to_fs :long_with_time
        %td
          = record.staff_note
        %td
          = record.rejection_message
        %td
          - if record.interview.present?
            - if record.interview.hired?
              Yes
            - else
              No:
              = record.interview.interview_note
