%h1 #{@record.position.name} Application Record

%p submitted #{format_date_time @record.created_at}
%p by #{@record.user.name_and_email}
= button_to 'Print this page',
  application_submission_path(@record, format: :pdf),
  method: :get,
  class: 'btn btn-secondary'
- if @record.rejected?
  %p
    = button_to 'Re-review Applicant',
      unreject_application_submission_path(@application_submission, id: @record.id),
      class: 'btn btn-primary'
- if !@record.saved_for_later? && @record.note_for_later.present?
  %p
    %i This application had previously been saved for later review. Your note:
  %p
    = @record.note_for_later
%table.table.table-bordered
  %thead
    %tr
      %th Questions
      %th Responses
  %tbody
  - @record.data.each do |prompt, response, data_type, _question_id|
    %tr
      - if data_type == 'heading'
        %td
          %b=prompt.upcase
      - elsif data_type == 'explanation'
        %td
          %i= render_markdown prompt
      - else
        %td=prompt
      %td=response

-if @record.unavailability.present?
  %strong Unavailability
  =fields_for :unavailability do |u|
    =render partial: "unavailabilities_calendar_staff",
      locals: { unavailability: @record.unavailability }
  %p Grey boxes indicate that applicant is unavailable

- if @current_user.staff?
  - if @record.pending?
    %h3 Review application
    %h4 Deny Application
    = form_tag controller: :application_submissions,
      action: :review,
      id: @record.id,
      accepted: false do
      .form-group
        %b Reason for rejection:
        = text_area_tag :staff_note, '', class: 'form-control'
      .form-group
        - if configured_value [:on_application_denial, :provide_reason],
                              default: true
          %i These notes will be provided to the applicant.
        - else
          %i These notes will not be provided to the applicant.
      .form-group
        = submit_tag 'Decline', class: 'btn btn-danger'
    = form_tag controller: :application_submissions,
      action: :review,
      id: @record.id,
      accepted: true do
      %h4 Approve Application and Schedule Interview
      = fields_for :interview do |f|
        .form-group
          = f.label :scheduled, 'Date/time'
          = f.text_field :scheduled,
            class: 'datetimepicker form-control',
            placeholder: 'Click here to select date/time...',
            required: true
        .form-group
          = f.label :location
          = f.text_field :location,
                         required: true,
                         value: @record.position.default_interview_location,
                         class: 'form-control'
      .form-group= submit_tag 'Approve', class: 'btn btn-primary'
    - if @record.saved_for_later?
      - if @record.note_for_later.present?
        Note:
        .form-group= @record.note_for_later
      - if @record.date_for_later.present?
        Date to review:
        .form-group= format_date @record.date_for_later
      .form-group= button_to 'Move back to dashboard',
        toggle_saved_for_later_application_submission_url(@record),
        class: 'btn btn-secondary'
    - else
      %h3 Save application for later review
      = form_tag controller: :application_submissions,
        action: :toggle_saved_for_later,
        id: @record.id do
        .form-group
          = label_tag :note_for_later, 'Note:'
          = text_area_tag :note_for_later, '', required: true, class: 'form-control'
        .form-group.offset-md-1
          = check_box_tag :mail_to_applicant, 'yes', false, class: 'form-check-input'
          = label_tag 'mail_to_applicant', 'Email note to applicant', class: 'form-check-label'
        .form-group
          %i
            This note will be listed as the reason their application was
            saved for review at a later date.
        .form-group
          = label_tag :date_for_later, 'Select a date for later review'
          .input-group
            .input-group-prepend
              %span.input-group-text.fa.fa-calendar
            = text_field_tag :date_for_later, '', class: 'datepicker form-control'
        .form-group
          %i
            If a date is selected, the application will move back onto the
            dashboard at that time.
        %p#notification.hidden
          = label_tag :email_to_notify, 'Get notified when this happens:'
          = text_field_tag :email_to_notify, '', placeholder: 'person@example.com',
            class: 'form-control'
        .form-group
          =submit_tag 'Save', class: 'btn btn-primary'
  - else
    %p Application reviewed on: #{format_date_time @record.updated_at}
    - if @record.staff_note.present?
      %p Reason for denial: #{@record.staff_note}
  - if @interview.present?
    - if @interview.pending?
      %p Interview is scheduled for: #{@interview.information}
      %p
        = link_to 'Click here for a calendar export file',
          interview_path(@interview, format: :ics)
      %h3 Reschedule interview
      = form_tag controller: :interviews,
        action: :reschedule,
        id: @interview.id do
        .form-group
          = label_tag :scheduled, 'New interview date/time:'
          = text_field_tag :scheduled, '',
            required: true,
            placeholder: 'Click here to select date/time...',
            class: 'form-control datetimepicker'
        .form-group
          = label_tag :location, 'New location:'
          = text_field_tag :location, @interview.location,
            required: true,
            class: 'form-control'
        .form-group
          = submit_tag 'Reschedule interview', class: 'btn btn-secondary'
      %h3 Mark interview as complete:
      = form_tag controller: :interviews,
        action: :complete,
        id: @interview.id do
        .form-group
          = submit_tag 'Candidate hired', name: 'hired', class: 'btn btn-primary'
        .form-group
          = label_tag :interview_note, 'Reason for rejection:'
          = text_area_tag :interview_note, '', class: 'form-control'
        .form-group
          = submit_tag 'Candidate not hired', class: 'btn btn-danger'
    - else # application is being reviewed for whatever reason
      .form-group
        Interview occurred on
        = @interview.information
- else # student
  - if @record.pending?
    Your application is pending and has not yet been reviewed.
    - if configured_value [:on_application_denial, :notify_applicant],
      default: true
      You will be notified when your application has been reviewed.
    - else
      You will be contacted if an interview is requested.
  - else
    - if @interview.present?
      - if @interview.pending?
        Your interview is scheduled for
      - else
        Your interview occurred on
      = @interview.information
    - else
      Your application has been denied.
      - if configured_value([:on_application_denial, :notify_of_reason],
        default: true)
        Reason:
        = @record.staff_note
