Hello #{@user.first_name},

- if @application_submission.rejection_message.present?
  Your application to the #{@application_submission.position.try(:name)} position has been denied due to the following reason: #{@application_submission.rejection_message}
- else
  Your application to the #{@application_submission.position.try(:name)} position has been denied.

Best,

= configured_value [:organization_name]
