.note_item
  Note: The data type of 'explanation' supports markdown.
  - if @site_text.present?
    For a quick tutorial, please click
    = link_to 'here.', site_text_url(@site_text)

- if @draft.application_template.eeo_enabled?
  .note_item
    This application requests equal employment opportunity (EEO) data from applicants.
    Click below to disable these requests.
    .actions
      = button_to 'Deactivate EEO',
        toggle_eeo_enabled_application_url(@draft.application_template)
- else
  .note_item
    This application doesn't request equal employment opportunity (EEO) data from applicants.
    Click below to enable these requests.
    .actions
      = button_to 'Activate EEO',
        toggle_eeo_enabled_application_url(@draft.application_template)

- if @draft.application_template.unavailability_enabled?
  .note_item
    This application requests unavailability from applicants.
    Click below to disable this feature.
    .actions
      = button_to 'Deactivate Unavailability',
        toggle_unavailability_enabled_application_url(@draft.application_template)
- else
  .note_item
    This application does not request unavailability from applicants.
    Click below to enable this feature.
    .actions
      = button_to 'Activate Unavailability',
        toggle_unavailability_enabled_application_url(@draft.application_template)

- if @draft.application_template.active?
  .note_item
    This application is available to applicants. Not hiring currently?
    Click below to deactivate the application.
  .actions
    = button_to 'Deactivate application',
          toggle_active_application_url(@draft.application_template)
- else
  .note_item
    This application is currently not available to applicants. Hiring
    again? Click below to reactivate the application.
  .actions
    = button_to 'Activate application',
          toggle_active_application_url(@draft.application_template)
