- question = g.object
- if question.new_record?
  .centered Add new question...
.row.field-row
  %span.grabbable-number.btn.btn-primary
    .number= g.text_field :number, value: question.number, readonly: true
  .col-4
    = g.text_area :prompt, required: !question.new_record?,
    class: 'form-control'
  .col-4
    = g.select :data_type, Question::DATA_TYPES, 
      { include_blank: 'Select a data type...', required: !question.new_record? },
      { class: 'form-control' }
  .col-1
    = g.check_box :required
  .col-1.remove
    = button_to 'X',
      remove_question_draft_path(@draft, number: question.number),
      class: 'btn btn-secondary mb-1'