%table.calendar
  %thead
    %tr.hours-row
      %th.col-narrow
      - Unavailability::HOURS.each do |hour|
        %th.hours= hour
  %tbody
    - Date::DAYNAMES.each do |dow|
      %tr.dow-row
        %td.day.col-narrow= dow
        - Unavailability::HOURS.each do |hour|
          %td.hours-checkbox= form.check_box "#{dow.downcase}_#{hour}"
