#form_preview_message
  This is a preview of your changes.
  This form, as shown here, is not live.

.form
  %h1.title Application for #{@draft.position.name_and_department}
  - if @draft.email.present?
    %div
      Reply-to email:
      = @draft.email
  %strong
    Fields marked with an asterisk (
    %span.ast *
    ) are required.
  = form_tag controller: :filed_applications, action: :create do
    = fields_for :user do |u|
      .field
        .heading Please complete the following personal information.
        .explanation You will be able to log in and review your application.
      - [:first_name, :last_name, :email].each do |field|
        .field
          .label= u.label field
          = u.text_field field, size: 50, required: true,
            value: @current_user.try(field)
          %span.ast *
    = fields_for :data do |r|
      - @draft.questions.each do |question|
        .field
          - if question.explanation?
            .explanation= render_markdown question.prompt
          - elsif question.heading?
            %h3.heading= question.prompt
          - else
            .label= r.label question.prompt, question.prompt
            - case question.data_type
            - when 'phone-number'
              = r.text_field question.prompt, required: question.required?,
                class: 'phone', size: 20, placeholder: '(XXX) XXX-XXXX'
            - when 'long-text'
              = r.text_area question.prompt, required: question.required?
            - when 'text'
              = r.text_field question.prompt,
                required: question.required?,
                size: 50
            - when 'date'
              = r.text_field question.prompt,
                required: question.required?,
                class: 'datepicker',
                placeholder: 'Click here to select date...',
                size: 40
            - when 'number'
              = r.number_field question.prompt,
                required: question.required?
            - when 'yes/no'
              Yes
              = r.radio_button question.prompt, 'Yes',
                required: question.required?
              No
              = r.radio_button question.prompt, 'No',
                required: question.required?
            - if question.required?
              %span.ast *

      - if @draft.application_template.unavailability_enabled?
        .heading Unavailability
        .explanation
          Please fill out your weekly unavailability for this semester via this calendar. This is
          used to determine if you have enough available time to commit to this position.
          Check off times when you are
          %strong NOT
          available to work.
          Note that you can click and drag to check or uncheck a range of boxes.
        %br
        =fields_for :unavailability do |u|
          =render partial: "unavailabilities_calendar", locals: { form: u }

      - if @draft.application_template.eeo_enabled?
        .heading Voluntary Equal Employment Opportunity Information
        .explanation
          The University of Massachusetts and the Pioneer Valley
          Transit Authority are equal opportunity employers. To help
          us ensure that we are complying with EEO policies, please supply
          the information requested below.
        .field
          .label
            Please select the ethnic group with which you most closely identify:
          = select_tag :ethnicity,
            options_for_select(FiledApplication::ETHNICITY_OPTIONS),
            include_blank: 'Prefer not to answer'
        .field
          .label Please select the gender with which you most closely identify:
          = select_tag :gender,
            options_for_select(FiledApplication::GENDER_OPTIONS),
            include_blank: 'Prefer not to answer'
    .actions= submit_tag 'Submit application', disabled: true

.form
  .actions
    = button_to 'Continue editing', edit_draft_path(@draft), method: :get
    = button_to 'Discard changes', draft_path(@draft), method: :delete
    = button_to 'Save application',
      update_application_template_draft_path(@draft)
