%h1 Editing #{@site_text.name} text
- unless @site_text.name == 'markdown explanation'
  = text 'markdown explanation'
Enter text here to update the live site.
We suggest using the sandbox (below) to preview your change and then copying it into this box.
= form_for @site_text, url: {controller: :site_texts, 
                            action: :update,
                            id: @site_text.id} do |f|
  = f.text_area :text, size: '100x20'
  .action= f.submit 'Update text'
%h3 Markdown sandbox
Enter text here to preview without updating.
= form_tag do
  = text_area_tag :preview_input, @preview_input || @site_text.text, size: '100x20'
  = submit_tag 'Preview below'
- if @preview_input.present?
  %h3 Preview output
  = render_markdown @preview_input
