%h1 Request new configurable site text

Please fill out the form below to help us fulfill your request.

= form_tag do
  .form-group
    = label_tag :location,
      'Where will the text be placed? Please give the page URL if possible.'
    = text_area_tag :location, '', required: true, class: 'form-control'
  .form-group
    = label_tag :description,
      'Please give a general description of what the content of the text will be. This helps us decide on a descriptive name (though we can always change it later).'
    = text_area_tag :description, '', required: true, class: 'form-control'
  .form-group
    We will email you once we have processed your request.
    You should then be able to edit the text to your liking.
  .form-group
    = submit_tag 'Submit request', class: 'btn btn-primary'
