#umass_banner
  #wordmark= image_tag 'wordmark.svg', height: 25
  #links
    = link_to 'Logout', destroy_session_path
    = link_to 'Dashboard', dashboard_path
  #current_user_name= @current_user.try :full_name
#transportation_banner
  = image_tag 'trans-header-large.png'
