#umass_banner
  #wordmark= image_tag 'wordmark.svg', height: 25
  #links
    = link_to 'Logout', destroy_session_path
    = link_to 'Dashboard', main_dashboard_path
  #current_user_name= Current.user&.full_name
#transportation_banner
  = image_tag 'trans-header-large.png'
